<div class="dx-fieldset" [formGroup]="filterFormGroup">
  <div class="dx-fieldset-filter">
    <div class="dx-field">
      <div class="dx-field-label-level">
        Уровень героя:
      </div>
      <div class="dx-field-level-content">
        <p class="from">
          от
        </p>
        <dx-number-box [formControlName]="HERO_FILTER.MIN_LEVEL"
                       valueChangeEvent="keyup"
                       class="form-control"
        ></dx-number-box>
        <p class="before">
          до
        </p>
        <dx-number-box [formControlName]="HERO_FILTER.MAX_LEVEL"
                       valueChangeEvent="keyup"
                       class="form-control"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Поиск по имени:
      </div>
      <div class="dx-field-value">
        <dx-text-box [formControlName]="HERO_FILTER.NAME"
                     valueChangeEvent="keyup"
                     placeholder="Введите имя..."
                     class="form-control"
        ></dx-text-box>
      </div>
    </div>
  </div>

  <div class="dx-fieldset-filter-sort">
    <div class="dx-field">
      <div class="dx-field-label">
        Способности:
      </div>
      <div class="dx-field-value">
        <dx-tag-box [formControlName]="HERO_FILTER.CAPABILITY_IDS"
                    [dataSource]="capabilities"
                    valueExpr="id"
                    displayExpr="name"
                    placeholder="Выберите способности..."
                    class="form-control"
        ></dx-tag-box>
      </div>
    </div>
    <div class="dx-field-level">
      <div class="dx-field-label">
        Сортировать по возрастанию уровня:
      </div>
      <div class="dx-field-value">
        <dx-check-box [formControlName]="HERO_FILTER.IS_SORT_BY_LEVEL"
                      [value]="false"
                      class="form-control"
        ></dx-check-box>
      </div>
    </div>
  </div>
</div>
