<form class="dx-fieldset" [formGroup]="heroForm">
  <div class="dx-field">
    <div class="dx-field-label-name">Имя:</div>
    <div class="dx-field-value">
      <dx-text-box class="form-control"
                   [formControlName]="HERO.NAME"
      ></dx-text-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label-power">Сила:</div>
    <div class="dx-field-value">
      <dx-number-box class="form-control"
                     [formControlName]="HERO.POWER"
                     [value]="5"
                     [min]="1"
                     [max]="100"
                     [showSpinButtons]="true"
      ></dx-number-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label-capabilities">Способности:</div>
    <div class="dx-field-value">
      <dx-tag-box
        class="form-control"
        [formControlName]="HERO.CAPABILITY_IDS"
        stylingMode="outlined"
        [items]="capabilities"
      ></dx-tag-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label-level">Начальный уровень:</div>
    <div class="dx-field-value">
      <dx-number-box class="form-control"
                     [formControlName]="HERO.LEVEL"
                     [value]="5"
                     [min]="1"
                     [max]="100"
                     [showSpinButtons]="true"
      ></dx-number-box>
    </div>
  </div>
  <dx-toolbar class="dx-button">
    <dxi-item
      [options]="{
              text: 'Сохранить',
              type: 'default',
              stylingMode: 'contained',
              onClick: saveHero
            }"
      location="after"
      widget="dxButton"
    ></dxi-item>
  </dx-toolbar>
</form>
