
:host {
  display: flex;
  flex-direction: column;


  .dx-fieldset {
    display: flex;
    flex-direction: column;
    margin: 0;


    .dx-field {
      display: flex;
      flex-direction: column;
      margin: 0;

      &-label-name,
      &-label-power,
      &-label-capabilities,
      &-label-level {
        width: 100%;
        display: flex;
        padding: 8px;
      }

      &-value {
        width: calc(100% - 8px);
        display: flex;
        padding: 8px;

        dx-text-box,
        dx-number-box,
        dx-tag-box {
          width: 100%;


        }
      }
    }

    .dx-button {
      padding: 8px;
      background-color: transparent;
      border: none;

      ::ng-deep .dx-button-mode-contained.dx-button-default {
        background-color: black;
      }
    }
  }

}

