<div class="wrapper">
  <dx-accordion [dataSource]="filteredHeroes"
                [collapsible]="true"
                [multiple]="true"
                [animationDuration]="300"
                class="accordion">
    <div *dxTemplate="let hero of 'title'"
         class="dx-field-head">
      <div class="dx-field-level-value">
        {{ hero.level }} ур.
      </div>
      <div class="dx-field-name-value">
        {{ hero.name }}
      </div>
    </div>
    <div *dxTemplate="let hero of 'item'"
         class="dx-field-body">
      <div class="dx-field-body-power">
        <p class="dx-field-body-power-label">Сила: </p>
        <div class="dx-field-body-power-value"> {{ hero.power }} </div>
      </div>
      <div class="dx-field-body-capabilities">
        <p class="dx-field-body-capabilities-label">Способности:</p>
        <div class="dx-field-body-capabilities-value">
          <div *ngFor="let id of hero.capabilityIds"
               class="capability">
            {{ getCapabilityNameById(id) }}
          </div>
        </div>
      </div>
      <div class="dx-buttons">
        <dx-button (onClick)="editHero(hero)"
                   stylingMode="contained"
                   text="Редактировать героя"
                   type="normal"
                   class="dx-button-edit"
        ></dx-button>
        <dx-button (onClick)="deleteHero(hero)"
                   stylingMode="contained"
                   text="Удалить героя"
                   type="normal"
                   class="dx-button-delete"
        ></dx-button>
      </div>
    </div>
  </dx-accordion>
</div>

<dx-popup [width]="500"
          [height]="500"
          [showTitle]="true"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          [showCloseButton]="true"
          [(visible)]="popupVisible"
          title="Редактирование героя"
          container=".dx-viewport">
  <app-hero-edit-dialog (newItemEvent)="closeEditDialog()"
  ></app-hero-edit-dialog>
</dx-popup>
