<form class="createHero" [formGroup]="myForm">
  <div class="form-group">
    <div class="createHero_name_text">Имя:</div>
    <dx-text-box class="form-control"
                 name="heroName"
                 formControlName="heroName"
    ></dx-text-box>
  </div>
  <div class="form-group">
    <div class="createHero_power_text">Сила:</div>
    <dx-number-box class="form-control"
                   name="heroPower"
                   formControlName="heroPower"
                   [value]="5"
                   [min]="1"
                   [max]="100"
                   [showSpinButtons]="true"
    ></dx-number-box>
  </div>
  <div class="form-group">
    <div class="createHero_capabilities_text">Способности:</div>
    <dx-select-box
      class="form-control"
      formControlName="heroCapabilities"
      stylingMode="outlined"
      [dataSource]="receivedCapabilities"
    ></dx-select-box>
  </div>
  <div class="form-group">
    <div class="createHero_level_text">Начальный уровень:</div>
    <dx-number-box class="form-control"
                   name="heroLevel"
                   formControlName="heroLevel"
                   [value]="5"
                   [min]="1"
                   [max]="100"
                   [showSpinButtons]="true"
    ></dx-number-box>
  </div>
  <div class="form-group button">
    <dx-button
      class="createHero_button_text"
      stylingMode="contained"
      text="Создать героя"
      type="normal"
      (onClick)="createHero(myForm)">
    </dx-button>
  </div>
</form>
<!--[disabled]="myForm.invalid"-->
