@mixin backgroundColor {
  background-color: rgb(215, 213, 213);
}

@mixin dxFieldSet {
  display: flex;
  flex-direction: column;
}

@mixin dxField {
  display: flex;
  flex-direction: column;
  margin: 0;

  &-label-name,
  &-label-power,
  &-label-capabilities,
  &-label-level {
    width: 100%;
    display: flex;
    padding: 8px;
  }

  &-value {
    width: calc(100% - 8px);
    display: flex;
    padding: 8px;

    dx-text-box,
    dx-number-box,
    dx-tag-box {
      width: 100%;


    }
  }
}
