<!--<form class="dx-fieldset" [formGroup]="filterLevelForm">-->
<!--  <div class="dx-field">-->
<!--    <div class="dx-field-label-minLevel">От</div>-->
<!--    <div class="dx-field-value">-->
<!--      <dx-number-box class="form-control"-->
<!--                   formControlName="minLevel"-->
<!--      ></dx-number-box>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="dx-field">-->
<!--    <div class="dx-field-label-maxLevel">До:</div>-->
<!--    <div class="dx-field-value">-->
<!--      <dx-number-box class="form-control"-->
<!--                     formControlName="maxLevel"-->
<!--                     [value]="5"-->
<!--                     [min]="1"-->
<!--                     [max]="100"-->
<!--                     [showSpinButtons]="true"-->
<!--      ></dx-number-box>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
